<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static',filename='style_about.css')}} />
<!--<link rel="stylesheet" href="style_homepage.css">-->
  <title>About Us</title>
</head>
<body>
  <div class="nav">
   <nav>
            <a href="{{url_for('views.homepage')}}" class="logo">ROOMIE</a>
          <a href="{{url_for('views.find_roomie')}}">Find a roomie</a>
          <a href={{url_for('views.about')}}>About</a>
          <a href={{url_for('auth.register')}}>Sign-up</a>
          <a href="{{url_for('auth.login')}}" >Sign-in</a>
           {% if user.is_authenticated %}
            <a href="{{url_for('auth.logout')}}" class="last">Logout</a>
           {% endif %}
      </nav>
      </div>
      <div class="container">
  <div class="card devrishi">
    <div class="imgBx">
      <img class="image" src={{url_for('static',filename='img/Devrishi_Sikka.png')}} />
    </div>
    <div class="contentBx">
      <h2>Devrishi Sikka</h2>
      <div class="size">
        <h3>Skills:</h3>
        <span>
          <img src="https://img.icons8.com/ios/30/ffffff/flask.png"/>
        </span>
        <span>
          <img src="https://img.icons8.com/ios-glyphs/22/ffffff/python.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/material-outlined/22/ffffff/django.png"
        /></span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/html.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/material-outlined/22/ffffff/css.png"
        /></span>
        <span>
          <img src="https://img.icons8.com/metro/22/ffffff/mysql.png"
        /></span>
      </div>
      <div class="color">
        <h3>Contact :</h3>
        <span
          ><img src="https://img.icons8.com/ios-filled/22/ffffff/gmail-new.png"
        /></span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/linkedin.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/ios-glyphs/22/ffffff/instagram-new.png"
          />
        </span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/github.png"
        /></span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <img class="image" src="{{url_for('static',filename='img/subham.png')}}" alt="Ojas" />
    </div>
    <div class="contentBx">
      <h2>Subham Ghosh</h2>
      <div class="size">
        <h3>Skills:</h3>
        <span>
          <img src="https://img.icons8.com/ios-glyphs/22/ffffff/java-coffee-cup-logo.png"/>
        </span>
        <span>
          <img src="https://img.icons8.com/ios-filled/22/ffffff/javascript-logo.png"/>
        </span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/html.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/material-outlined/22/ffffff/css.png"
        /></span>
        <span>
          <img src="https://img.icons8.com/ios-glyphs/22/ffffff/python.png"
        />
        </span>
        <span>
          <img src="https://img.icons8.com/ios-filled/22/ffffff/docker.png"/>
        </span>
        <span>
          <img src="https://img.icons8.com/windows/22/ffffff/kubernetes.png"/>
        </span>
      </div>
      <div class="color">
        <h3>Contact :</h3>
        <span
          ><img src="https://img.icons8.com/ios-filled/22/ffffff/gmail-new.png"
        /></span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/linkedin.png"
        /></span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/twitter--v1.png"/>
        </span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/github.png"
        /></span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <img class="image" src="{{url_for('static',filename='img/Arihant.png')}}"/>
    </div>
    <div class="contentBx">
      <h2>Arihant Bhardwaj</h2>
      <div class="size">
        <h3>Skills:</h3>
        <span>
          <img src="https://img.icons8.com/ios-glyphs/22/ffffff/python.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/material-outlined/22/ffffff/django.png"
        /></span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/html.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/material-outlined/22/ffffff/css.png"
        /></span>
        <span>
          <img src="https://img.icons8.com/metro/22/ffffff/mysql.png"
        /></span>
      </div>
      <div class="color">
        <h3>Contact :</h3>
        <span
          ><img src="https://img.icons8.com/ios-filled/22/ffffff/gmail-new.png"
        /></span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/linkedin.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/ios-glyphs/22/ffffff/instagram-new.png"
          />
        </span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/github.png"
        /></span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <img class="image ojas" src="{{url_for('static',filename='img/Aditya.png')}}"  />
    </div>
    <div class="contentBx">
      <h2>Aditya Chawla</h2>
      <div class="size">
        <h3>Skills:</h3>
        <span>
          <img src="https://img.icons8.com/ios-glyphs/22/ffffff/python.png"
        /></span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/html.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/material-outlined/22/ffffff/css.png"
        /></span>
        <span>
          <img src="https://img.icons8.com/metro/22/ffffff/mysql.png"
        /></span>
      </div>
      <div class="color">
        <h3>Contact :</h3>
        <span
          ><img src="https://img.icons8.com/ios-filled/22/ffffff/gmail-new.png"
        /></span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/linkedin.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/ios-glyphs/22/ffffff/instagram-new.png"
          />
        </span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/github.png"
        /></span>
      </div>
    </div>
  </div>
          <div class="card">
    <div class="imgBx">
      <img class="image" src="{{url_for('static',filename='img/ojas.png')}}"/>
    </div>
    <div class="contentBx">
      <h2>Ojas Aklecha</h2>
      <div class="size">
        <h3>Skills:</h3>
        <span>
          <img src="https://img.icons8.com/ios-glyphs/22/ffffff/python.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/material-outlined/22/ffffff/django.png"
        /></span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/html.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/material-outlined/22/ffffff/css.png"
        /></span>
        <span>
          <img src="https://img.icons8.com/metro/22/ffffff/mysql.png"
        /></span>
      </div>
      <div class="color">
        <h3>Contact :</h3>
        <span
          ><img src="https://img.icons8.com/ios-filled/22/ffffff/gmail-new.png"
        /></span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/linkedin.png"
        /></span>
        <span
          ><img
            src="https://img.icons8.com/ios-glyphs/22/ffffff/instagram-new.png"
          />
        </span>
        <span
          ><img src="https://img.icons8.com/ios-glyphs/22/ffffff/github.png"
        /></span>
      </div>
    </div>
  </div>
</div>
</body>
</html>














