@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
*/ body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: white;
  font-weight: lighter;
}

* {
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.logo {
  padding-right: 59%;
  font-family: "Architects Daughter", cursive;
  font-size: 27px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #3a3e59;
}

nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  margin-left: 30px;
  margin-right: 30px;
}

.tagline {
  padding-top: 140px;
  padding-left: 30px;
  text-align: center;
}

h1 {
  font-weight: normal;
}

h3 {
  font-weight: 300;
}
