@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 100px; */
  background: white;
}

.container {
  position: relative;
  margin: 0 20px;
  display: flex;
}

.container .card {
  position: relative;
  width: 270px;
  height: 430px;
  background: black;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(150px at 80% -20%);
}

.container .card:after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx {
  top: 0;
  transform: translateY(0%);
}

.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 250px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx h2 {
  position: relative;
  letter-spacing: 2px;
  color: #ffffff;
  padding-top: 28px;
  font-weight: lighter;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
  color: #ffffff;
  font-weight: lighter;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom:0px;
}

.container .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111111;
  background: black;
  margin: 0 5px;
  transition: 0.5s;
  color: #3a3e59;
  border-radius: 3px;
  cursor: pointer;
}

.container .card .contentBx .color span {
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600px;
  color: #3a3e59;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

.image {
  width: 300px;
}

h2 {
  padding: 8px;
}

.logo {
  padding-right: 59%;
  font-family: "Architects Daughter", cursive;
  font-size: 27px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #3a3e59;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  justify-content: space-between;
  margin-bottom: 150px;
}

.card{
  margin-left: 15px;
}

.ojas{
margin-right:40px;
}
